/*导航style start*/
.navbar {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0;
    box-shadow: rgba(0,0,0,.1)0 1px 5px;
    /*border-top: 3px solid #009a61;*/
}
.navbar-header{
    float: left;
    line-height: 50px;
}
.navbar-header a{
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
}
/*导航style end*/
/*登录页 style start */
.login {
    position: relative;
    width: 60%;
    border: 1px #aaa solid;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 5%;
    margin: 6% auto;
    padding: 5%;
    background-color: #f1f1f1;
}
.prompt {
    position: absolute;
    margin-left: 20%;
    color: red;
    font-size: 8px;
}
.login form {
    padding: 0 6%;
}
.login form .form-group {
    margin-bottom: 5%;
}
.login .system {
    text-align: center;
}
.input-group {
    width: 100%;
}
.login .input-group {
    border-radius: 4px;
}
.login .input-group input.volidate-input {
    width: 50%;
}
.volidate {
    position: relative;
}

.volidate .canvas {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1b6d85;
    height: 35px;
}
.login .form-group button.btn {
    width: 50%;
    margin: 0 25%;
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.checkbox {
    position: relative;
}
.checkbox .forget-pwd {
    position: absolute;
    right: 0;
}



.manual-body {
    margin-top: 53px;
}
a{
    text-decoration: none;
}
/*left start*/
.manual-body .page-left {
    position: fixed;
    overflow: auto;
    top: 50px;
    bottom: 0;
    z-index: 100;
    width: 199px;
    background-color: #f5f5f5;
    border-right: 1px solid #eaeaea;
}
.manual-body .page-left .menu {
    padding: 18px 0;
}
.manual-body .page-left .menu li {
    height: 36px;
    line-height: 0;
}
.manual-body .page-left .menu .item {
    display: block;
    padding: 8px 24px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    text-decoration: none;
}
.manual-body .page-left .menu li.active .item {
    background-color: #DDB;
}
/*left end*/

/*个人中心 start*/
.manual-body .page-right {
    padding: 15px 0 15px 24px;
    margin-left: 200px;
    min-width: 400px;
}
.manual-body .page-right .box-head {
    border-bottom: 1px solid #DDDDD9;
}
.m-box .box-head .box-title {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding-bottom: 3px;
    border-bottom: 2px solid #44B035;
    margin-bottom: -1px;
    min-width: 80px;
    font-weight: 200;
    font-size: 18px;
}
.manual-body .page-right .box-body {
    padding: 12px 0;
    position: relative;
}
.manual-body .page-right .box-body label {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222222;
    font-weight: 300;
}
.manual-body .page-right .box-body .form-right {
    position: absolute;
    right: 0;
    top: 34px;
}
.manual-body .page-right .box-body label {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222222;
    font-weight: 300;
}
/*后台管理 start*/
/*仪表盘*/
.manager .dashboard-item {
    float: left;
    width: 100px;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
    cursor: pointer;
    color: #333;
}
.manager .dashboard-item .bo {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.manager .dashboard-item .bo-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*用户管理*/
.pull-right {
    float: right!important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
/*项目管理 start*/
.text {
    font-size: 12px;
    color: #999999;
    font-weight: 200;
}
/*附件管理 start*/
.input-readonly {
    border: 1px solid rgba(34,36,38,.15);
    background-color: #fff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
