/*导航style start*/
*{
    margin:0;
    padding:0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    height: 50px;
}
.navbar-static-top{
    box-shadow: 0 1px 5px;
    background: #f9f9f6;
}
.nav-system {
    color: #2a2a2a;
    font-weight: 500;
    font-size: 20px;
    float: left;
    line-height: 50px;
}
.nav-list-c {
    float: left;
}
.nav-ul {
    float: left;
}
.nav-ul li {
    float: left;
    line-height: 50px;
    list-style: none;
    margin-left: 20px;
}
header a{
    color: #2a2a2a;
    font-size: 16px;
}
.nav-login {
    float: right;
}
.nav-search {
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}
.nav-search input {
    width: 230px;
}
.nav-login .nav-login-lo li {
   line-height: 50px;
}
.glyphicon {
    margin-right: 10%;
    margin-left: -10%;
}
.dropdown-menu {
    min-width: 120px;
}
@media (max-width: 600px) {
   .box-head > a > span.glyphicon {
        margin-right: 0;
        margin-left: 0;
    }
    header a{
        font-size: 10px;
    }
    .nav-system {
        font-size: 14px;
        line-height: 40px;
    }
    .nav-ul li {
        line-height: 40px;
        margin-left: 5px;
    }
    header {
        height: 40px;
    }
    .nav-search {
        margin-top: 5px;
        margin-left: 5px;
    }
    .nav-search input {
        width: 120px;
        height: 30px;
    }
    .nav-login .nav-login-lo li {
        line-height: 40px;
    }
    ul.dropdown-menu {
        min-width: 80px;
        left: -20px;
    }
    .dropdown-menu li a {
        font-size: 10px;
    }
}
/*导航style end*/
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #dfdfdf;
}
input::-moz-placeholder,textarea:-moz-placeholder {
    color: #dfdfdf;
}
input::-moz-placeholder,textarea::-moz-placeholder {
    color: #dfdfdf;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #dfdfdf;
}
input:focus,textarea:focus {
    outline: none;
}
/*登录页 style start */
.login {
    position: relative;
    top: 150px;
    width: 45%;
    border: 1px #aaa solid;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 5%;
    margin: 6% auto;
    padding: 3%;
    background-color: #f1f1f1;
}
@media (max-width: 600px) {
    .login {
        width: 90%;
        padding: 3%;
        top: 100px;
    }
}
.prompt {
    position: absolute;
    bottom: -5px;
    margin-left: 20%;
    color: rgba(255,0,0,.6);
    font-size: 8px;
}
.login form {
    padding: 0 6%;
}
.login form .form-group {
    margin-bottom: 5%;
}
.login .system {
    text-align: center;
}
.input-group {
    width: 100%;
}
.login .input-group {
    border-radius: 4px;
}
.volidate {
    position: relative;
}

.volidate .canvas {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1b6d85;
    height: 35px;
}
.login .form-group button.btn {
    width: 50%;
    margin: 0 25%;
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.checkbox {
    position: relative;
}
.checkbox .forget-pwd {
    position: absolute;
    right: 0;
}
.manual-body {
    margin-top: 53px;
}
a{
    text-decoration: none;
}
/*left start*/
.manual-body .page-left {
    position: fixed;
    overflow: auto;
    top: 50px;
    bottom: 0;
    z-index: 100;
    width: 180px;
    background-color: #f5f5f5;
    border-right: 1px solid #eaeaea;
    padding: 1% 0;
}
@media (max-width: 600px){
    .manual-body .page-left{
        position: fixed;
        left:0;
        top: 40px;
        width:100%;
        height: 30px;
        line-height: 45px;
        overflow: hidden;
        padding: 1%;
    }
    .manual-body .page-left li {
        float: left;
        font-size: 10px;
    }
    .manual-body .page-left .menu .item {
        padding: 1px 15px;
        line-height: 30px;
    }
    .manual-body .page-right {
        margin-left: 4% !important;
        min-width: 500px;
    }
    .m-box .box-head .box-title {
        border-bottom: 0px solid #ddddd9;
    }
}
.manual-body .page-left .menu .item {
    display: block;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}
/*left end*/
/*个人中心 start*/
.manual-body .page-right {
    margin-left: 190px;
    min-width: 500px;
    margin-top: 6px;
}
.manual-body .page-right .box-head {
    border-bottom: 1px solid #DDDDD9;
}
.m-box .box-head .box-title {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding-bottom: 3px;
    border-bottom: 2px solid #44B035;
    margin-bottom: -1px;
    /*min-width: 80px;*/
    font-weight: 200;
    font-size: 18px;
}
.manual-body .page-right .box-body {
    padding: 12px 0;
    position: relative;
}
.manual-body .page-right .box-body label {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222222;
    font-weight: 300;
}
.manual-body .page-right .box-body .form-right {
    position: absolute;
    right: 0;
    top: 34px;
}
.manual-body .page-right .box-body label {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222222;
    font-weight: 300;
}
/*后台管理 start*/
/*仪表盘*/
.manager .dashboard-item {
    float: left;
    width: 100px;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
    cursor: pointer;
    color: #333;
}
.manager .dashboard-item .bo {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.manager .dashboard-item .bo-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*用户管理*/
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-success {
    color: #333;
}
/*项目管理 start*/
.text {
    font-size: 12px;
    color: #999999;
    font-weight: 200;
}
/*附件管理 start*/
.input-readonly {
    border: 1px solid rgba(34,36,38,.15);
    background-color: #fff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (max-width: 600px){
    .page-right .m-box {
        margin-top: 18px;
    }
    .page-right .m-box .box-head {
        border-top: 1px solid #ddddd9;
        position: relative;
    }
    .page-right .m-box .box-head .box-title {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }
    .page-right .box-head a.btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 0;
    }
    .box-body table tr th,td {
        width: 30px;
        font-size: 10px;
        padding: 0 8px;
    }
}

